@import 'c/sharedStyles';

.menuText {
    color: #b5b5b5;
    transition: color .2s ease-in;
    font-size: 15px;
}

/* Added as seperate css attribute to prevent recurisive element styling (no :hover) */ 
.menuTextHover {
    cursor: pointer;
    transition: color .2s ease-in;
    color: white;
}

.menuTextActive {
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.activeSubtree {
    background-color: #2A2A2A;
}









/*
.menuLightText {
    color: #424242;
}
:hover .menuLightText {
    cursor: pointer;
}
*/




.menuLightBorder {
    border-bottom: 1px solid #424242;
}






@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
  
.element {
animation: pulse 2s infinite;
}